.page{
	height:100vh;overflow-x:hidden
	}

@font-face{
	font-family:adq;
	src:url(media/adequate.ttf)
}

@font-face{
	font-family:mont;
	src:url(media/Montserrat-Regular.ttf)
}

@media(max-width:850px){
}

.page1{

	overflow:hidden
}

.page h1{

	font-family:adq;
	letter-spacing:8px;
	color:#fff
}

.header{

	z-index:100;
	position:absolute
}

.page1 h1{

	color:#fff;
	font-size:55pt
}

.page3,.page15{

	overflow:hidden
}

#table-contents{

	color:#fff;padding-top:10vh;
	margin-left:30vw
}

#last{

	margin-top:10%
}

.page3 a,.page15 a{

	font-family:adq;
	letter-spacing:2px;
	font-size:11pt;
	color:#fffbad
}

.page3 a:hover,.page15 a:hover{

	color:#fff
}

.pages{

	text-align:center;
	color:#fff
}

.pages h1{

	margin-top:3%
}

img.thumb-post{
	
	object-fit:none;
	object-position:center;
	width:100%;
	max-height:250px;
	margin-bottom:1rem
}

li{

	margin-bottom:1%
}

p{
	font-family:mont;
	font-size:14px;
	margin:0;
	text-align:left;
	font-weight:700
}

p.author{

	font-size:11px
}

a.last{

	font-size:11px
}

#star1{

	left:10%;
	margin-top:3%;
	width:100px;
	height:100px
}

#star2{

	left:6%;
	margin-top:6%;
	width:100px;
	height:100px
}

@media(max-width:920px){
	#img1{

		height:150px
	}

#page1{

	padding-top:0
}

iframe{

	width:280px;
	height:170px
}

h1{
	font-size:16px!important
}

h1.page1{

	padding-bottom:40%
}

#star1{

	margin-top:18px;
	width:50px;
	height:50px}

#star2{

	margin-top:29px;
	width:50px;
	height:50px}
}